<div id="app-header-component" data-current-user="<%= current_user.to_json %>"></div>
<h1>Edit Profile</h1>
<%= form_with(model: @user, url: profile_path(@user), local: true) do |form| %>
  <div>
    <%= form.label :nickname %>
    <%= form.text_field :nickname %>
  </div>
  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>
  <div>
    <%= form.label :avatar_image %>
    <%= form.file_field :avatar_image %>
  </div>
  <div>
    <%= form.label :cover_image %>
    <%= form.file_field :cover_image %>
  </div>
  <div>
    <%= form.submit 'Update Profile' %>
  </div>
<% end %>
