<!-- <<%= form_with url: sign_in_path, local: true do |form| %>
  <div>
    <%= form.label :user_id, 'ユーザーIDまたはメールアドレス' %>
    <%= form.text_field :user_id %>
  </div>
  <div>
    <%= form.label :password, 'パスワード' %>
    <%= form.password_field :password %>
  </div>
  <div>
    <%= form.submit 'サインイン' %>
  </div>
  <div>
   <%= link_to 'アカウントをお持ちでない方はこちら', sign_up_path %>
  </div>
<% end %> -->
<div id="sign-in"></div>
