<h1>レビュー編集</h1>

<%= form_with(model: @post, url: review_test_update_path(@post), method: :patch) do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% @post.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :memo %><br>
    <%= form.text_area :memo %>
    <% @post.errors.full_messages_for(:memo).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit "更新する" %>
  </div>
<% end %>

<%= link_to "戻る", review_test_path(@post) %>
